<div align="center"><h1>Football Skills</h1></div>
<br>
<div align="center"><a href="http://localhost:3000/GainingPosession"><%= image_tag("Untitled.png", :alt => "rss feed") %></a></div>
<br>
<div align="center"><a href="http://localhost:3000/Scoring1"><%= image_tag("scoring.png", :alt => "rss feed") %></a></div>
<br>
<div align="center"><a href="http://localhost:3000/Tackling"><%= image_tag("tackling.png", :alt => "rss feed") %></a></div>
