<li><h3><i>Pass it Everywhere!!</h3></i></li>
<table border="1"><tr><td>
<p>This exercise involves 5 players & 1 football.</p>
<p>Two players are doing all the running. The central player is always hand-passing the ball to the on-running players.</p>
<P>The exercise starts with a kick-pass from the outside player to the central player. Once the kick has been played the two inside players start
their run. They have to time their run to arrive at
the central player as soon as the ball arrives.</p>
<p>The central player then plays a hand-pass to
either on-running player, they continue their
run beyond the central player.</p>
<p>Once past the central player, the ball carrier
kicks or hand-passes the ball to the other inside
player. This player then kicks or hand-passes the
ball to the other outside player.</p>
<p>The two inside players must turn & again run off
the central player to receive the hand-pass.</p>
</table></tr></td>
<br>

<li><h3><i>Hit every corner</h3></i></li>
<table border="1"><tr><td>
<p>Hand-pass exercise in a square 20m x 20m with eight players, four moving & four stationary.</p>
<p>Players on the inside hand-pass to the ball each to a different corner.</p>
<p>They then run around the player they just passed to & back to the center.</p>
<p>On the way back to the centre, as they run off the stationary player they receive the ball back.</p>
<p>The exercise is repeated again but this time the center player passes to the stationary player at the corner to the left of the corner they just passed to.</p>
</table></tr></td>
<br>

<li><h3><i>The Carrying Triangle</h3></i></li>
<table border="1"><tr><td>
<p>Set up the drill as shown.</p>
</p>Player hops & solos the ball through the poles</p>
<p>They then take a tackle from a player holding a tackle bag</p>
<p>They then turn and give a diagonal kick pass to the next player who in turn hand passes to the next player to begin again.</p>
<p>Players follow the ball and move to the next position..</p>
</table></tr></td>