<h1>Gaining Posession</h1>
<li><h3><i>Circular Chasing</h3></i></li>
<table border="1"><tr><td>
<p>Mark out a circle with cones and spread players evenly around the circle</p>
<p>On the whistle players move around the circle while balancing the sliotar on the hurl</p>
<p>Players are attempting to catch the player directly in front of them while trying not to get caught by the player behind them.</p>
</table></tr></td>
<br>

<li><h3><i>Change Of Direction</h3></i></li>
<table border="1"><tr><td>
<p>4 players per group working with 2 sliotars.</p>
<p>There is a square made up of four different coloured cones.</p>
<p>Player 1 solos quickly into the center of the square.</p>
<p>Player 2 calls a colour just as player 1 reaches the centre of the square.</p>
<p>Player 1 must change direction and move quickly to the assigned cone.</p>
<p>Player 2 repeats with player 3 calling the colour, etc..</p>
</table></tr></td>
<br>