<!DOCTYPE html>
<html>
<head>
<style>

body {
background: repeating-linear-gradient(
  to right,
  #f6ba52,
  #538c2b 10px,
  #ffd180 10px,
  #ffd180 20px

)

</style>
	
</head>
<body>
<table width="100%" border="0">
  <tr>
    <td colspan="2" bgcolor="DarkGreen">
      <b><h1><h1><i><div align="middle"><font color="white">GAA Player/Coach Profile </h1></div><div align="middle"><h2> <b>G</b>aelic <b>A</b>thletic <b>A</b>ssociation <br></font></h2></div><i></b>

    </td>
  </tr>
  <tr valign="top">
    <td bgcolor="#00A329" width="25%">
	 <font color="black">
     <h3><b>
       Gaelic Football (Mens)
	   
	   <br /><br />
      Ladies Football <br /><br />
      Hurling <br /><br />
      Camogie <br /><br /></h3></b>
    </td></font>
    <td bgcolor="#DBE057" width="75%" height="200">
     <font color="black">  <p><b> Player's, </p>
	 <li>depending on your age group, gender and sport preference you will be assigned to a coach</li>
		<li>you can submit diary entries, photos etc</li>
		<li>you can view other players pictures and have the option to like/dislike them</li>
		<li>you can view schedule entries that your coach has entered.</li>
		<br><p><b>Coach's,</p></b>
		<li>you can view your player's diary entries and can give advice by commenting on them if you wish</li>
		<li>you can also upload schedules for your players</li>
	</font>
    </td>
  </tr>
 
</table>
<br>
<br>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" align="center">
	<%= image_tag("gFootball.jpg", :alt => "rss feed") %>
     
    </div>

 

    <div class="item" align="center">
	<%= image_tag("hurling1.jpg", :alt => "rss feed") %>
   
    </div>

    <div class="item" align="center">
	<%= image_tag("ladiesFootball.jpg", :alt => "rss feed") %>
      
    </div>
	<div class="item" align="center">
	<%= image_tag("cam.jpg", :alt => "rss feed") %>
   
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</body>
<br />
<br />




</html>
