<!DOCTYPE html>
<html>
<head>
<title>HTML Layout using Tables</title>

</head>

<body>
<%= image_tag("Banner.jpg", :alt => "rss feed") %>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<table width="100%" border="0">
  <tr>
    <td colspan="2" bgcolor="#DCDCDC">
      <h1><h3><i><div align="middle">GAA Player profile <br> <b>G</b>aelic <b>A</b>thletic <b>A</b>ssociation <br></h3></div><i>

    </td>
  </tr>
  <tr valign="top">
    <td bgcolor="#aaa" width="50">
      <b>Sports include</b><br />
      Gaelic Football (Mens)<br />
      Ladies Football<br />
      Hurling<br />
      Camogie<br />
    </td>
    <td bgcolor="#FFDEAD" width="100" height="200">
        <li>Depending on your age, gender and sport preference you will be assigned to a coach who will guide you through skills and drills</li>
<li>You can also check your BMI (Body Mass Index)</li>
<li>Fixtures & Results can also be accessed</li>
<li>Each team will have access to a group chat where players and their coach can have discussions</li>
<li>Coach can give players advise in relation to match performance/ Nutrition etc </li>
    </td>
  </tr>
 
</table>
</body>
</html>
