<div align="center"><h1>Hurling Skills</h1></div>
<br>
<div align="center"><a href="http://localhost:3000/GainingPosessionH"><%= image_tag("Untitled.png", :alt => "rss feed") %></a></div>
<br>
<div align="center"><a href="http://localhost:3000/ScoringH"><%= image_tag("scoring.png", :alt => "rss feed") %></a></div>
<br>
<div align="center"><a href="http://localhost:3000/TacklingH"><%= image_tag("tackling.png", :alt => "rss feed") %></a></div>