<h1>Scoring</h1>
<li><h3><i>Rapid Fire</h3></i></li>
<table border="1"><tr><td>
<p>This exercise involves 6 players & 5 footballs</p>
<p>Within the exercise one player is doing all the shooting & five players are laying the ball off to them.</p>
<p>The player without the ball starts the exercise. Once they move across the line in front of the first player, that player pops the ball out to them with a hand pass.</p>
<p>The attacker without thinking tries to score a point. They then move along the line at pace receiving & shooting each ball at speed.</p>
<p>The idea behind the exercise is for the shooter to try & get five rapid shots off without having to wait in line for a shot every minute or so.</p>
<p>It helps them to spot & fix their errors or to repeat their successes in an instant which is more match realistic</p>
</table></tr></td>
<br>

<li><h3><i>Diagonal Pass & Kick</h3></i></li>
<table border="1"><tr><td>
<p>Divide players into 5 groups 2 groups for kick passing, 2 groups for shooting, 1 group behind the goal.</p>
<p>The footballs start with the 2 kick passing groups.</p>
<p>They play a diagonal kick pass, the attacker receives the ball and turns to shoot.</p>
<p>The players behind the goal retrieve the footballs</p>
<p>Players follow their ball i.e. kick passers become attackers, attackers move behind the goal, players behind the goal become kick passers</p>
</table></tr></td>
<br>
