<h1>Tackling</h1>

<li><h3><i>One To One</h3></i></li>
<table border="1"><tr><td>
<p>Mark out several lanes 5m x 20m.</p>
<p>Assign 2 players to each lane  1 attacker & 1 defender</p>
<p>The defender is aiming to dispossess the attacker as many times as possible before the attacker reaches the end of the lane, without committing a foul.</p>
<p>The attacker must hop/solo the ball as they progress.</p>
<p>Emphasis is on good body position, quick feet, and near hand tackling</p>
</table></tr></td>
<br>

<li><h3><i>Side To Side Charge</h3></i></li>
<table border="1"><tr><td>
<p>3 or 4 players line up with tackle bags evenly spread out forming a channel towards the goals.</p>
<p>Players must carry the ball towards the channel performing a side to side charge on each tackle bag.</p>
<p>After they have passed all the tackle bags, the player shoots for goal.</p>
<p>Rotate players on tackle bags after every few turns.</p>
</table></tr></td>
<br>
