<i><h2><div align="center">These are your players: </h2></i></div>

<style>
table, th, td {
    border: 1px solid black;
	border-collapse: seperate;
	border-spacing: 6em 6em;
	background-color: DarkGrey;
	margin:20px;
	
}
</style>
</head>
<body>

<% @current_coach.players.each do |p| %>
<table border="1" style="width:20%" table align="left" width="80" height="110">
	<tr><td><h2><div align="center"><b><%= link_to p.name, oneplayerdiary_path(player_id: p) %></h2></li></tr></td></div></b>
	
<% end %>

</table>
</body>

